<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiuzhong.yuxun"
    android:versionCode="5"
    android:versionName="1.4.9"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.YuXunApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="e2WSPBR2CnNAiG38ehmfzIFA" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".ContactListActivity"
            android:label="@string/title_activity_contact_list"
            android:theme="@style/activityTheme" >
        </activity>
        <activity
            android:name=".AddContactActivity"
            android:label="@string/title_activity_add_contact"
            android:theme="@style/activityTheme" >
        </activity>
        <activity
            android:name=".ChatListActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/activityTheme" >
        </activity>
        <activity
            android:name=".DiscoverActivity"
            android:label="@string/title_activity_discover"
            android:theme="@style/activityTheme" >
        </activity>
        <activity
            android:name=".MeActivity"
            android:label="@string/title_activity_me"
            android:theme="@style/activityTheme">
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/activityTheme" >
        </activity>
        <activity
            android:name=".EditContactActivity"
            android:label="@string/title_activity_edit_contact"
            android:theme="@style/NOBarTheme" >
        </activity>
        <activity
            android:name=".ContactDetailActivity"
            android:label="@string/title_activity_contact_detail" >
        </activity>
        <activity
            android:name=".ShowPositionActivity"
            android:label="@string/title_activity_show_position"
            android:launchMode="singleTask"
            >
        </activity>
        <activity
            android:name=".RegistActivity"
            android:label="@string/title_activity_regist" >
        </activity>
        <activity
            android:name=".MsgShowActivity"
            android:label="@string/title_activity_msg_show" >
        </activity>
        <activity
            android:name=".ValidCodeActivity"
            android:label="@string/title_activity_valid_code" >
        </activity>
        <activity
            android:name=".SettingPwdActivity"
            android:label="@string/title_activity_setting_pwd" >
        </activity>
        <activity
            android:name=".ForgetPwdActivity"
            android:label="@string/title_activity_forget_pwd" >
        </activity>

        <service
            android:name=".service.MsgService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".ChangePwdActivity"
            android:label="@string/title_activity_change_pwd" >
        </activity>
        <activity
            android:name=".RequireBdGrantActivity"
            android:label="@string/title_activity_require_bd_grant" >
        </activity>
        <activity
            android:name=".ChargeActivity"
            android:label="@string/title_activity_charge" >
        </activity>
    </application>

</manifest>
